#achievement{
    background-image: url('../images/achievement/counter_bg.png');
    .achievement_content{
        padding: 55px 0px;
        .achievement_item{
            display: flex;
            justify-content: center;
            padding-top: 50px;
            @include xs(){
                // flex-direction: column;
                // align-items: center;
                display: block;
            }
            .item{
                width: 255px;
                gap: 30;
                @include xs(){
                    margin: auto;
                }
                &.item2{
                    border-left: 1px solid var(--white);
                    border-right: 1px solid var(--white);
                    @include xs(){
                        border: 0;
                        border-top: 1px solid var(--white);
                        border-bottom: 1px solid var(--white);

                        padding: 30px 0;
                        margin: 30px auto;
                    }
                }
                h3{
                    font-size: 48px;
                    line-height: 48px;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 18px;
                    line-height: 18px;
                    @include sm(){
                        line-height: 28px;
                    }
                }
                p,h3{
                    text-align: center;
                    color: var(--white);
                }
            }
        }

    }
}