header{
    border: var(--border);
    .header_body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0px;
        .logo{
            // border: var(--border);
            img{
                width: 131px;
            }
        }
        .nav{
            // border: var(--border);
        }
        .search{
            // border: var(--border);
            a{
                padding-top: 6px;
            }
        }
    }
}
