nav{
    display: block;
    ul{
        margin-bottom: 0;
        padding: 0;
        display: flex;
        li{
            list-style: none;
            a{
                color: red;
            }
        }
    }
}