.common_heading{
    &.center{
        text-align: center;
    }
    h2{
        font-family: var(--play_fair);
        font-size: 48px;
        line-height: 58px;
        text-transform: capitalize;

        @include xs(){
            font-size: 28px;
            line-height: 38px;
        }
        @include sm(){
            font-size: 28px;
            line-height: 38px;
        }
    }
    p{
        font-size: 20px;
        font-family: var(--poppin_regular);
        line-height: 36px;
        color: var(--gray);
        margin-top: 30px;

        @include xs(){
            font-size: 17px;
            line-height: 28px;
        }
        @include sm(){
            font-size: 17px;
            line-height: 28px;
        }
    }
    &.white{
        p,
        h2{
            color: var(--white);
        }
    }
}
