@mixin xs(){
    @media (min-width:0px) and (max-width: 575.9px){
        @content();
    }
}

@mixin sm(){
    @media (min-width:576px) and (max-width: 767.9px){
        @content();
    }
}

@mixin md(){
    @media (min-width:768px) and (max-width: 991.9px){
        @content();
    }
}

@mixin lg(){
    @media (min-width:992px) and (max-width: 1199.9px){
        @content();
    }
}

@mixin xl(){
    @media (min-width:1200px) and (max-width: 1399.9px){
        @content();
    }
}
@mixin xxl(){
    @media (min-width:1400px){
        @content();
    }
}
@mixin custom_media($min, $max){
    @media (min-width:$min) and (max-width:$max){
        @content();
    }
}