@font-face {
  font-family: "poppins-regular";
  src: url("../poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "poppins-extrabold";
  src: url("../poppins/Poppins-ExtraBold.ttf");
}
:root {
  --border: 1px solid red;
  --brand_light: #0F6E8C;
  --brand_deep: #055460;
  --black_light: #4F4F4F;
  --black_deep: #2D2F30;
  --gray: #888C8C;
  --white: #FFF;
  --testimonial_bg: #F4F8FF;
  --app_font: "poppins-regular";
  --poppin_regular: "poppins-regular";
  --poppin_bold: "poppins-bold";
  --poppin_semibold: "poppins-semibold";
  --poppin_extrabold: "poppins-extrabold";
  --play_fair: "Playfair Display", serif;
}

body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--app_font);
}

img,
label,
a,
i,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 12px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
p.p2 {
  font-size: 24px;
  line-height: 34px;
}

header,
nav,
div,
section,
aside,
main,
footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.common_heading.center {
  text-align: center;
}
.common_heading h2 {
  font-family: var(--play_fair);
  font-size: 48px;
  line-height: 58px;
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .common_heading h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .common_heading h2 {
    font-size: 28px;
    line-height: 38px;
  }
}
.common_heading p {
  font-size: 20px;
  font-family: var(--poppin_regular);
  line-height: 36px;
  color: var(--gray);
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .common_heading p {
    font-size: 17px;
    line-height: 28px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .common_heading p {
    font-size: 17px;
    line-height: 28px;
  }
}
.common_heading.white p,
.common_heading.white h2 {
  color: var(--white);
}

.container {
  width: 1400px;
  margin: auto;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .container {
    width: calc(100% - 30px);
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 546px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

header .header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
}
header .header_body .logo img {
  width: 131px;
}
header .header_body .right_nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_body .right_nav .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_body .right_nav .extra_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header_body .right_nav .extra_link .search a {
  padding-top: 6px;
  color: var(--black_deep);
}
header .header_body .right_nav .extra_link .nav_control {
  display: none;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  header .header_body .right_nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header .header_body .right_nav .nav {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  header .header_body .right_nav .extra_link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    gap: 10px;
  }
  header .header_body .right_nav .extra_link .nav_control {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header_body .right_nav .extra_link .nav_control a {
    line-height: 10px;
    color: var(--black_deep);
  }
}

nav ul {
  margin-bottom: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 55px;
  z-index: 9;
}
nav ul li {
  list-style-type: none;
}
nav ul li.close_nav {
  display: none;
}
nav ul li a {
  color: var(--black_deep);
  text-transform: uppercase;
  font-weight: 400;
}
nav ul li a.active, nav ul li a:hover {
  font-weight: 700;
  background-color: var(--brand_light);
  padding: 5px 12px;
  color: var(--white);
  border-radius: 2px;
}

@media (min-width: 0px) and (max-width: 991.9px) {
  nav {
    position: relative;
  }
  nav ul {
    display: none;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    width: 30vw;
    min-width: 275px;
    height: 100vh;
    top: 0px;
    text-align: center;
    padding: 23px 0px;
    right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    padding-left: 30px;
    background: rgba(226, 226, 226, 0.2784313725);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3215686275);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3215686275);
  }
  nav ul.active {
    display: block;
  }
  nav ul li.close_nav {
    display: block;
    text-align: right;
  }
  nav ul li.close_nav a span {
    margin-right: 20px;
    font-size: 30px;
  }
  nav ul li a {
    margin-bottom: 10px;
    font-size: 17px;
  }
}
#top_footer {
  background-color: var(--brand_light);
}
#top_footer .top_footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 85px 0;
  gap: 30px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #top_footer .top_footer_content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #top_footer .top_footer_content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #top_footer .top_footer_content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
#top_footer .top_footer_content .logo {
  width: 200px;
}
#top_footer .top_footer_content .footer_links {
  width: 200px;
}
#top_footer .top_footer_content .footer_links .footer_link_heading {
  color: var(--white);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: var(--play_fair);
}
#top_footer .top_footer_content .footer_links .link_list li a {
  color: var(--white);
  font-size: 16px;
  text-transform: capitalize;
  display: block;
  padding: 6px;
}
#top_footer .top_footer_content .footer_links .link_list li a:hover {
  background-color: var(--brand_deep);
  color: rgba(221, 221, 221, 0.9333333333);
}

#bottom_footer {
  background-color: var(--brand_deep);
  padding: 22px 0;
}
#bottom_footer .bottom_footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#bottom_footer .bottom_footer_content .left p {
  font-size: 14px;
  line-height: 20px;
  color: var(--white);
}
#bottom_footer .bottom_footer_content .right .social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}
#bottom_footer .bottom_footer_content .right .social_links li a i {
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  background-color: var(--brand_light);
  color: var(--white);
}

#banner .banner_content {
  display: grid;
  grid-template-columns: 755px 1fr;
  padding: 200px 0px 0px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content {
    grid-template-columns: 1fr;
    padding: 30px 0px 0px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content {
    grid-template-columns: 1fr;
    padding: 30px 0px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content {
    grid-template-columns: 1fr 0px;
    padding: 70px 0px 118px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  #banner .banner_content {
    padding: 100px 0px 425px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  #banner .banner_content {
    padding: 100px 0px 160px;
  }
}
@media (min-width: 1400px) {
  #banner .banner_content {
    padding: 100px 0px 160px;
  }
}
#banner .banner_content .banner_details .top h1 {
  font-family: "Playfair Display", serif;
  font-size: 90px;
  color: var(--brand_deep);
  line-height: 108px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_details .top h1 {
    font-size: 33px;
    line-height: 48px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_details .top h1 {
    font-size: 60px;
    line-height: 75px;
  }
}
#banner .banner_content .banner_details .top p {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.5px;
  max-width: 450px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_details .top p {
    font-size: 16px;
    line-height: 30px;
  }
}
#banner .banner_content .banner_details .top a {
  padding: 29px 36px;
  background: var(--brand_deep);
  border-radius: 8px;
  font-size: 16px;
  color: var(--white);
  text-transform: uppercase;
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_details .top a {
    padding: 14px 29px;
  }
}
#banner .banner_content .banner_details .bottom {
  margin-top: 95px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_details .bottom {
    margin-top: 30px;
  }
}
#banner .banner_content .banner_details .bottom p {
  font-size: 22px;
  color: var(--gray);
  line-height: 30px;
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content .banner_details .bottom p {
    width: 320px;
  }
}
#banner .banner_content .banner_details .bottom .sponsor_list {
  display: grid;
  grid-template-columns: 105px 105px;
  gap: 25px;
}
#banner .banner_content .banner_details .bottom .sponsor_list a {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#banner .banner_content .banner_image {
  position: relative;
}
#banner .banner_content .banner_image .img {
  width: 540px;
  position: absolute;
  left: -130px;
  top: -46px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_image .img {
    width: 100%;
    position: unset;
    margin-top: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_image .img {
    width: 100%;
    position: unset;
    margin-top: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content .banner_image .img {
    width: 360px;
    left: -349px;
    top: 245px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  #banner .banner_content .banner_image .img {
    left: -351px;
    top: 219px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  #banner .banner_content .banner_image .img {
    left: -143px;
  }
}
#banner .banner_content .banner_image .img img {
  width: 100%;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_image .img img {
    position: relative;
    bottom: -6px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_image .img img {
    position: relative;
    bottom: -6px;
  }
}

#our_feature {
  background-color: #F2FCFF;
  padding: 126px 0px;
}

.our_features_body {
  display: grid;
  grid-template-columns: 417px 1fr;
  gap: 200px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .our_features_body {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .our_features_body {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .our_features_body {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .our_features_body {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .our_features_body {
    gap: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .our_features_body {
    gap: 170px;
  }
}
.our_features_body .feature_description {
  padding-top: 48px;
}
.our_features_body .feature_list {
  display: grid;
  grid-template-columns: 256px 256px;
  gap: 30px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .our_features_body .feature_list {
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .our_features_body .feature_list {
    grid-template-columns: 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .our_features_body .feature_list {
    grid-template-columns: 290px 290px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .our_features_body .feature_list {
    grid-template-columns: 247px 235px;
    gap: 15px;
  }
}
.our_features_body .feature_list .feature_item {
  background-color: #FCFCFC;
  padding: 24px;
  -webkit-box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.our_features_body .feature_list .feature_item .icon img {
  width: 37px;
}
.our_features_body .feature_list .feature_item h3 {
  font-family: var(--play-fair);
  font-size: 22px;
  padding-top: 18px;
}
.our_features_body .feature_list .feature_item p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}

#achievement {
  background-image: url("../images/achievement/counter_bg.png");
}
#achievement .achievement_content {
  padding: 55px 0px;
}
#achievement .achievement_content .achievement_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #achievement .achievement_content .achievement_item {
    display: block;
  }
}
#achievement .achievement_content .achievement_item .item {
  width: 255px;
  gap: 30;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #achievement .achievement_content .achievement_item .item {
    margin: auto;
  }
}
#achievement .achievement_content .achievement_item .item.item2 {
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #achievement .achievement_content .achievement_item .item.item2 {
    border: 0;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    padding: 30px 0;
    margin: 30px auto;
  }
}
#achievement .achievement_content .achievement_item .item h3 {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 30px;
}
#achievement .achievement_content .achievement_item .item p {
  font-size: 18px;
  line-height: 18px;
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #achievement .achievement_content .achievement_item .item p {
    line-height: 28px;
  }
}
#achievement .achievement_content .achievement_item .item p, #achievement .achievement_content .achievement_item .item h3 {
  text-align: center;
  color: var(--white);
}

#testimonial {
  background-color: var(--testimonial_bg);
}
#testimonial .testimonial_content {
  padding: 60px 0;
}
#testimonial .testimonial_content .common_heading {
  margin-bottom: 50px;
}
#testimonial .testimonial_content .testimonial_item {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #testimonial .testimonial_content .testimonial_item {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #testimonial .testimonial_content .testimonial_item {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #testimonial .testimonial_content .testimonial_item {
    grid-template-columns: 1fr;
  }
}
#testimonial .testimonial_content .testimonial_item .item .text {
  background-color: var(--white);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(41, 41, 42, 0.28);
          box-shadow: 0px 0px 20px 0px rgba(41, 41, 42, 0.28);
  padding: 32px;
  position: relative;
}
#testimonial .testimonial_content .testimonial_item .item .text .heading {
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}
#testimonial .testimonial_content .testimonial_item .item .text .bg {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  text-align: justify;
}
#testimonial .testimonial_content .testimonial_item .item .text .arrow_part {
  position: absolute;
  bottom: -24px;
  left: calc(50% - 12px);
  height: 25px;
  width: 25px;
  background-color: var(--white);
  -webkit-clip-path: polygon(50% 46%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 46%, 0% 100%, 100% 100%);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
#testimonial .testimonial_content .testimonial_item .item .testimonial_giver {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
#testimonial .testimonial_content .testimonial_item .item .testimonial_giver .left .giver_img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
#testimonial .testimonial_content .testimonial_item .item .testimonial_giver .right .name {
  text-transform: capitalize;
  font-size: 18px;
}
#testimonial .testimonial_content .testimonial_item .item .testimonial_giver .right .designation {
  font-size: 14px;
  line-height: 24px;
}

@media (min-width: 0px) and (max-width: 991.9px) {
  #complex_question {
    padding-bottom: 45px;
  }
}
#complex_question .complex_question_content {
  display: grid;
  grid-template-columns: 1fr 395px;
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #complex_question .complex_question_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #complex_question .complex_question_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #complex_question .complex_question_content {
    grid-template-columns: 1fr;
  }
}
#complex_question .complex_question_content .left {
  padding: 45px 0;
}
#complex_question .complex_question_content .left .action_btns .action_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  background: var(--brand_light);
  border-radius: 8px;
  padding: 14px 18px;
  color: var(--white);
}
#complex_question .complex_question_content .left .action_btns .action_btn .icon {
  position: relative;
  top: 2px;
}
#complex_question .complex_question_content .left .action_btns .action_btn .text {
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
}
#complex_question .complex_question_content .right .img {
  height: 100%;
  overflow: hidden;
}
#complex_question .complex_question_content .right .img img {
  border-bottom-left-radius: 40px;
  max-width: unset;
  height: 395px;
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #complex_question .complex_question_content .right .img img {
    max-width: 100%;
    height: unset;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #complex_question .complex_question_content .right .img img {
    max-width: 100%;
    height: unset;
  }
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #complex_question .complex_question_content .right .img img {
    max-width: 100%;
    height: unset;
  }
}

/*# sourceMappingURL=app.css.map */